* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #fbcde5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bb953750beca703c53331272c980c0b4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(6px);
}

.calculator {
    background: #f18dabd6;
    width: 320px;
    padding: 25px;
    border-radius: 35px;
    box-shadow: 0 20px 40px rgba(201, 140, 178, 0.47);
}

.screen {
    outline: none;
    border:none;
    height: 70px;
    background: #eef6f6;
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 15px 20px;
    font-size: 32px;
    text-align: right;
    width: 100%;
    color: #777;
    box-shadow: inset 0 4px 10px rgba(0,0,0,0.05);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.keys button {
    height: 55px;
    border: none;
    border-radius: 25px;
    color: rgb(103, 102, 102);
    background: #ffeef5;
    font-size: 18px;
    cursor: pointer;
    box-shadow:
        inset -4px -4px 8px #ffffff,
        inset 4px 4px 8px rgba(0,0,0,0.06);
    transition: 0.2s;
}

.keys button:hover {
    transform: scale(1.1);
}

.light {
    background: #eef1f2;
}

.equal {
    border-radius: 25px;
    grid-column: span 2;
    background: #e9a6c6;
    color: rgb(103, 102, 102);
    font-size: 22px;
    box-shadow: 0 10px 20px rgba(233,166,198,0.6);
}

 nav